<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ar_go">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myVision"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:icon,android:roundIcon,android:theme">
        <activity android:name=".PropertyPreview"></activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PropertyListActivity" />
        <activity
            android:name=".BuilderHomepage"
            android:label="@string/title_activity_builder_homepage" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Feedback" />
        <activity android:name=".PropertyDetails" />
        <activity android:name=".AreaSelection" />
        <activity
            android:name=".VerificationCode"
            android:label="Verification Code" />
        <activity
            android:name=".ResetPassword"
            android:label="Reset Password" />
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".UserSelection"></activity>
        <activity
            android:name=".LoginBuilder"
            android:label="Builder Login" />
        <activity
            android:name=".SignUpBuilder"
            android:label="Builder Sign Up" />
        <activity
            android:name=".Login"
            android:label="User Login" />
        <activity
            android:name=".MainActivity"
            android:label="User Sign Up" />
        <activity
            android:name=".HomePage"
            android:label="Home Page" />
        <activity
            android:name=".AddProperty"
            android:label="Add Property" />
        <activity
            android:name=".UserEnquiry"
            android:label="UserEnquiry" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mvc.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>